:root {
	background-color: rgba(255,217,153, 0.6);	/*container background color --> a = alpha = transparency */
	padding: 4em;
}

/* box-sizng property defines how the width and height of an element are calculated: should they include padding and borders, or not*/
*,
*::before,
*::after {
  box-sizing: border-box;	/* ensures the boxes are the right length*/
}

body {
	background-color: rgba(255,217,153, 0.6);	/*container background color*/
	padding: 2em;
	font-family: Helvetica, Arial;
	font-size: 16px;
	margin: 0;
	margin: 0 10% 0 10%;	/* for the container size */
}

body::before {	/* ::before selector inserts something after the content of each body element*/
	content: '';
	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: -1;/* shows which elements are closer to the user */
  	background-image: linear-gradient(
      	145deg,	/* ombre effect of colours */
		rgba(255,179,51, 0.7),
		rgba(255,230,204, 0.6)
    ),	/* a = alpha --> 0 = transparent & 1 = not transparent*/
    url(https://images.unsplash.com/photo-1601326368965-8b8e9c69627c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}

.container {
	width: 100%;
  	margin: 3.125rem auto 0 auto;
}


@media (max-width: 400px) {
	.container {
		width: 100%;
	}
	
	header {
		font-size: 0.5rem;
	}
	
	h1 {
		font-size: 0.9rem;
	}
	
	label,
	p {
		font-size: 0.5rem;
	}
	
	.clue {
		font-size: 0.2em;
	}
	
	.form-box-control {
		width: 100%;
	}
	
	.submit-button,
	button {
		font-size: 0.5em;
	}
}

.form-box-control {
	display: block;
	width: 100%;	/* extends the width of the boxes */
	border-radius: 0.3rem;
}

.header {
	text-align: center;
  	margin-bottom: 2rem;
}

.cutlery-icon {
	font-size: 0.7em;
}

h1:hover {
	font-size: 2.4em;	/* size increases when mouse hovers over */
}

#description {
	font-style: italic;
	font-weight: 500;
}


/* form */


form {
	padding: 2rem 1rem;
	border-color: black;
  	border-width: 4px;
  	border-style: solid;
	border-radius: 0.5rem;
}

@media (min-width: 480px) {

	form {
		padding: 2.5rem;
  }
}

.form-box-control {
	display: block;
	width: 100%;	/* extends the width of the boxes */
	border-radius: 0.3rem;
}

.form-box-control:focus,	/* :focus selector = used to select the element that is focused on */
.input-textarea:focus {
	border-color: rgb(141,85,36);
	border-width: 2px;
  	outline: 0;
  	box-shadow: 0;
}

.input-checkbox {
	display: inline-block;
	margin-right: 0.5rem;	/* space between checkbox and words */
}

.form-group {
	padding: 0.25em;
	margin: 0 auto 1.25rem auto;
}

label {
	display: flex;
  	align-items: center;
  	margin-bottom: 0.3rem;
}

.clue,
span {
	margin-left: 0.25rem;
  	font-size: 14px;
}

.input-textarea{
	width: 100%;
	min-height: 40px;
	resize: vertical; /* resize property defines if (& how) an element is resizable by the user */
}

input,
button,
select,
textarea {
	margin: 0;	/* ensures the fom boxes are aligned with the words */
  	font-size: inherit;
}

button:hover,
button:visited {	/* changes occur when the button is clicked on */
	background-color: #000000;
	color: orange;
	border-color: black;
}

.submit-button {
	width: 100%;
	height: 30px;
	cursor: pointer;
	background-color: #ff9900;
	border: none;
}
